<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality & Weather</title>
</head>
<body>
    <h1>Welcome to this Air Quality & Weather Information Website</h1>
    <p>This website allows one to get current air quality and weather information about a specific place</p>
    <p>The website employs the <a href="https://www.iqair.com/commercial-air-quality-monitors/api" target="_blank">IQAir API</a></p>
</body>
</html>