.input-field {
    border: 1px solid blueviolet;
    padding: 5%;
    border-bottom-right-radius: 50%;
}

.submit-btn {
    background-color: powderblue;
    padding: 5px;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 25%;
}

.name-btn{
    background: none!important;
    border: none;
    padding: 5px!important;
    /*optional*/
    /* font-family: arial, sans-serif; */
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

header {
    background-color: lightblue;
}

.out-of-header{
    background-color: lightgreen;
}