header{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 50px;
}

.intro-text {
    text-align: justify;
}

.out-of-header {
    height: 100vh;
}

.returned-data {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}

.initial-info {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.get-menu {
    display: flex;
    justify-content: center;
}

.get-menu > a {
    margin-left: 40px;
    margin-right: 40px;
}

.list-menu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.returned-list {
    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 30px;
    border: solid grey 5px;
}

.weather-info{
    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 30px;
    border: solid grey 5px;
}

.weather-info span {
    color: palevioletred;
}

.input-field {
    margin-top: 10px;

}